@using UniversityManagementSystemPortal.Enum;
@model IEnumerable<UniversityManagementSystemPortal.ModelDto.InstituteDto.InstituteDto>

<table id="instituteTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutoIncrementAdmissionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutoIncrementEmployeeNo)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAutoIncrementAdmissionNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAutoIncrementEmployeeNo)
                </td>
                <td>
                    <button class="btn btn-danger delete-institute" data-institute-id="@item.Id" data-delete-url="@Url.Action("Delete", "Institute")">Delete</button>
                    <button class="btn btn-primary update-institute" data-institute-id="@item.Id" data-update-url="@Url.Action("Update", "Institute")">Update</button>
                </td>




            </tr>
        }
    </tbody>

</table>
